<h1>
  <%= @beer_club.name %> <%= @beer_club.city %>
</h1>

<p>
Founded <%= @beer_club.founded %>
</p>

<% if @beer_club.members %>
    <strong>Members</strong>

    <ul>
      <% @beer_club.members.each do |member| %>
          <li> <%= link_to member.username, user_path(member) %> </li>
      <% end %>
    </ul>
<% end %>

<% if current_user && @beer_club.members.exclude?(current_user) %>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"join the club", class:"btn btn-primary" %>
    <% end %>
<% end %>

<% if current_user && @beer_club.members.include?(current_user) %>
  <%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "end the membership", class:"btn btn-primary" %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_beer_club_path, class:"btn btn-primary" if current_user %>
<%= link_to 'Destroy', @beer_club, method: :delete, data:
    { confirm: 'Are you sure?' }, class:"btn btn-danger" if current_user %>
