<p id="notice"><%= notice %></p>

<h1>
  <%= @beer_club.name %> <%= @beer_club.city %>
</h1>

<p>
Founded <%= @beer_club.founded %>
</p>

<% if @beer_club.members %>
    <strong>Members</strong>

    <ul>
      <% @beer_club.members.each do |member| %>
          <li> <%= link_to member.username, user_path(member) %> </li>
      <% end %>
    </ul>
<% end %>

<%= link_to 'Edit', edit_beer_club_path if current_user %>
<%= link_to 'Destroy', @beer_club, method: :delete, data:
    { confirm: 'Are you sure?' } if current_user %>
