<h1>
  <%= @beer_club.name %> <%= @beer_club.city %>
</h1>

<p>
Founded <%= @beer_club.founded %>
</p>

<% if @confirmed_members %>
    <strong>Members</strong>

    <ul class="list-unstyled">
      <% @confirmed_members.each do |member| %>
          <li> <%= link_to member.username, user_path(member) %> </li>
      <% end %>
    </ul>
<% end %>

<% if current_user && @beer_club.members.exclude?(current_user) %>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"join the club", class:"btn btn-primary" %>
    <% end %>
<% end %>

<% if current_user && @confirmed_members.include?(current_user) %>
    <% unless @pending_members.nil? %>
        <strong>Pending memberships</strong>

        <ul class="list-unstyled">
          <% @pending_members.each do |member| %>
              <li> <%= link_to member.username, user_path(member) %>
                <%= link_to "confirm", confirm_membership_beer_club_path(:beer_club_id => @beer_club.id, :user_id => member.id),
                            method: :post, class: "btn btn-primary btn-xs" if current_user && @confirmed_members.include?(current_user) %></li>
          <% end %>
        </ul>
    <% end %>

    <br>

  <%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "end the membership", class:"btn btn-primary" %>
  <% end %>
<% end %>

<%= edit_and_destroy_buttons(@beer_club) if current_user && @confirmed_members.include?(current_user) %>
