<h2>
  <%= @user.username %></strong>
  <% if @user.froze %>
      <span class="label label-info">account frozen</span>
  <% end %>
</h2>

<p>
  Has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= round(@user.average_rating) %>
</p>

<% if @user.favorite_style %>
    <p>
      Favorite style <%= @user.favorite_style.name %>
    </p>
<% end %>

<% if @user.favorite_brewery %>
    <p>
      Favorite brewery <%= @user.favorite_brewery.name %>
    </p>
<% end %>

<% if @user.ratings %>
<p>
  <strong>Ratings</strong>
</p>

<ul class="list-unstyled">
  <% @user.ratings.each do |rating| %>
    <li> <%= rating %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %> </li>
      <% end %>
  <% end %>
</ul>
<% end %>

<% unless @confirmed_clubs.nil? %>
    <p>
      <strong>Member of BeerClubs</strong>
    </p>

    <ul class="list-unstyled">
      <% @confirmed_clubs.each do |beer_club| %>
          <li> <%= link_to beer_club.name, beer_club_path(beer_club)%> </li>
      <% end %>
    </ul>
<% end %>

<br>

<% unless @pending_clubs.nil? %>
    <p>
      <strong>Membership waiting approval to</strong>
    </p>

    <ul class="list-unstyled">
      <% @pending_clubs.each do |beer_club| %>
          <li> <%= link_to beer_club.name, beer_club_path(beer_club)%> </li>
      <% end %>
    </ul>
<% end %>

<br>

<%= link_to('Edit', url_for([:edit, @user]), class:"btn btn-primary") if current_user == @user || is_admin %>
<%= link_to('Destroy', @user, method: :delete,
            data: {confirm: 'Are you sure?' }, class:"btn btn-danger") if current_user == @user || is_admin %>

<br>
<br>

<%= link_to "change account status", froze_and_activate_user_path(@user.id),
            method: :post, class: "btn btn-danger" if current_user && current_user.admin %>
