<h2>
  <%= @user.username %></strong>
</h2>

<p>
  Has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
</p>

<% if @user.favorite_style %>
    <p>
      Favorite style <%= @user.favorite_style %>
    </p>
<% end %>

<% if @user.favorite_brewery %>
    <p>
      Favorite brewery <%= @user.favorite_brewery %>
    </p>
<% end %>

<% if @user.ratings %>
<p>
  <strong>Ratings</strong>
</p>

<ul class="list-unstyled">
  <% @user.ratings.each do |rating| %>
    <li> <%= rating %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %> </li>
      <% end %>
  <% end %>
</ul>
<% end %>

<% if @user.beer_clubs %>
    <p>
      <strong>Member of BeerClubs</strong>
    </p>

    <ul class="list-unstyled">
      <% @user.beer_clubs.each do |beer_club| %>
          <li> <%= link_to beer_club.name, beer_club_path(beer_club)%> </li>
      <% end %>
    </ul>
<% end %>

<%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" if current_user %>
<%= link_to 'delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" if current_user %>
