<h2>List of ratings</h2>

<p>
  Number of ratings: <%= @ratings.count %>
</p>

<ul class="list-unstyled">
  <% @ratings.each do |rating| %>
      <li>
        <%= link_to rating.beer.name, beer_path(rating.beer),
                    class:"btn btn-link" %> <strong><%= rating.score %></strong>
        <%= link_to rating.user.username, user_path(rating.user),
                    class:"btn btn-link" %> </li>
  <% end %>
</ul>

<%= link_to 'New Rating', new_rating_path, class:"btn btn-primary" if current_user %>