<h2><%= @style.name %></h2>

<p>
  <%= @style.description %>
</p>

<% unless @style.beers.empty? %>
  <ul class="list-unstyled">
    <% @style.beers.each do |beer| %>
      <li> <%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %> </li>
    <% end %>
  </ul>
<% end %>

<% if current_user %>
  <%= link_to 'Edit', edit_style_path(@style), class:"btn btn-primary" %> |
  <%= link_to 'Destroy', @style, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<%end %>