<h2><%= @style.name %></h2>

<p>
  <%= @style.description %>
</p>

<% unless @style.beers.empty? %>
  <ul class="list-unstyled">
    <% @style.beers.each do |beer| %>
      <li> <%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %> </li>
    <% end %>
  </ul>
<% end %>

<%= edit_and_destroy_buttons(@style) if current_user%>