<p id="notice"><%= notice %></p>

<h2>
  <strong></strong>
  <%= @brewery.name %>
</h2>

<p>
  <i>Established in <%= @brewery.year %></i>

</p>

<p> Number of beers: <%= @brewery.beers.count %> </p>

<p>
  <% @brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
  <% end %>
</p>

<p>
  <%= link_to 'List of beers', beers_path %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
