<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= link_to @beer.style.name, style_path(@beer.style) %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= link_to @beer.brewery.name, brewery_path(@beer.brewery) %>
</p>

<p>Beer has <%= pluralize(@beer.ratings.count, 'rating') %>, average <%= @beer.average_rating %></p>

<% if current_user %>

    <h4>give a rating:</h4>

    <%= form_for(@rating) do |f| %>
        <%= f.hidden_field :beer_id %>
        score: <%= f.number_field :score %>
        <%= f.submit %>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_beer_path if current_user %>
<%= link_to 'Destroy', @beer, method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
